:root {
  --primary-color: #c42424;
}

.my-title {
  color: blue;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  height: 100px;
  padding: 0 7.7%;
}

.icon {
  height: 45px;
  width: 65px;
}

.red-box {
  position: absolute;
  width: 1440px;
  height: 703px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: #c32424;
}
.information1 {
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: violet;
}

.information2 {
  font-family: Product Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.loginbtn {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 1120px;
  top: 19px;
  background: #c32424;
  border-color: #c32424;
  border-right: var(--primary-color);
  border-bottom: var(--primary-color);
}

.login {
  position: absolute;
  width: 37px;
  height: 19px;
  left: 30px;
  top: 8px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: white;
}

.registerbtn {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 1240px;
  top: 19px;

  background: #e8e8e8;
  border-radius: 10px;
}
.register {
  position: absolute;
  width: 56px;
  height: 19px;
  left: 23px;
  top: 8px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #c32424;
}
.card1 {
  position: absolute;
  width: 330px;
  height: 466px;
  left: 197px;
  top: 1438px;
}

.row {
  position: relative;
  width: 100%;
  height: 466px;
  left: 197px;
  top: 1438px;
}

.row3 {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 170px;
  top: 415px;

  background: #c32424;
  border-radius: 10px;
}

.textdonate {
  position: absolute;
  width: 49px;
  height: 19px;
  left: 26px;
  top: 3px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: white;
}

.pictures {
  position: absolute;
  width: 515px;
  height: 640px;
  left: 0px;
  top: 584px;
}

.titlefund {
  position: absolute;
  width: 275px;
  height: 44px;
  left: 147px;
  top: 164px;

  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: black;
}

.title {
  position: absolute;
  width: 1083px;
  height: 50px;
  left: 147px;
  top: 279px;
}

.button1 {
  position: absolute;
  width: 173px;
  height: 35px;
  left: 148px;
  top: 353px;

  background: #c32424;
  border-radius: 10px;
}
.button11 {
  position: absolute;
  width: 154.46px;
  height: 19px;
  left: 9px;
  top: 7px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  display: flexbox;
  align-items: center;
  text-align: center;

  color: white;
}

.goal {
  position: absolute;
  width: 1083px;
  height: 50px;
  left: 147px;
  top: 412px;
}

.description {
  position: absolute;
  width: 1083px;
  height: 237px;
  left: 147px;
  top: 486px;
}

.button2 {
  position: absolute;
  width: 412px;
  height: 45px;
  left: 818px;
  top: 650px;

  background: #c32424;
  border-radius: 10px;
}

.button22 {
  position: absolute;
  width: 151px;
  height: 22px;
  left: 130px;
  top: 10px;

  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: white;
}

.Raise-Fund-Position {
  position: absolute;
  width: 237px;
  height: 44px;
  left: 197px;
  top: 164px;
}
.Raise-Fund-Font {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #000000;
}
.makeFundBtn {
  position: absolute;
  width: 140px;
  height: 35px;
  left: 1140px;
  top: 169px;
  color: white;
  background: #c32424;
  border-radius: 10px;
}
