.button-register {
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 1.2rem;
	background: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
	color: #e50914;
	cursor: pointer;
}

.button-register:hover {
	background: #ffffff;
	border: 1px solid #ffffff;
	color: #7e0006;
}